@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
	--primary: #003049;
	--secondary: #F77F00;
	--third: #D62828;
	--light: #EAE2B7;
  }
body{
	background-color: #003049;
	font-family: 'Montserrat', sans-serif;
	color: #fff;
}
#searchbar::before
{
	content: '@';
	width: 50px;
	padding: 5px 0;
	background-color: var(--third);
	color: #fff;
	display: inline-block;
	position: absolute;
	z-index: 100;
}
#searchbar{
	position: relative;
}
#searchbar input{
	display: inline-block;
	padding-left: 60px;
}
#searchbar input::placeholder{
	font-size: 12px;
}
#searchbar input:focus{
	outline: red solid 2px;
	border: 0 solid #000;
	box-shadow: none;
}
#searchbar{
	position: relative;
}
s{
	text-decoration: none;
	position: relative;
}
body{
}
div s::before{
	height:7px;
	background-color: red;
	content: '';
	display: inline-block;
	position: absolute;
	top: 15px;
	transform: rotate(-7deg);
	width: 0;
	opacity: 0.5;
	
}
div s{
	transition: ease-in all 5s;
}
div.loaded s::before{
	width:110px;
	transition: width ease-in 1s;
}
.tweet{
	background-color: #fff;
	width:400px;
	margin: 20px auto;
}
.twitter-tweet-rendered{
	margin: 0 auto;
}
#all-tweets .offensive:first-of-type{
	margin-top: 50px;
}
.offensive{
	margin-bottom: 30px;
}
.is-cancelled{
	color: #fff;
	font-size: 30px;
}
table{
	background-color: #fff;
	color: #000;
	border-collapse: separate;
	border-spacing: 20px 10px;
	border-radius: 5px;
	margin: 50px auto;
}
table img{
	margin-right:20px;
}
input#searchbar{
	color: #000;
}